.pio
.vscode/.browse.c_cpp_db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
include/credentials.h
data/*.pem
data/*-cert*
data/*-key*
data/private*
.DS_Store
*.pyc


lib/credentials.h
